@font-face {
  font-family: 'icomoon_social';
  src:  url('icomoon.eot?ktsjo5');
  src:  url('icomoon.eot?ktsjo5#iefix') format('embedded-opentype'),
    url('icomoon.ttf?ktsjo5') format('truetype'),
    url('icomoon.woff?ktsjo5') format('woff'),
    url('icomoon.svg?ktsjo5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon_social' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-deezer-logo:before {
  content: "\e900";
}
.icon-youtube:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-spotify:before {
  content: "\ea94";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube2:before {
  content: "\ea9d";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-soundcloud:before {
  content: "\eac3";
}

