<style>

#block-views-blockarchive-search-block-1, .view-archive-search .view-filters {
	display: none;
}
.tourArchiveSearchAndSort{
	max-width: 800px;
	margin: 35px auto 8px;
}
.tourArchiveSorting {
	width: 244px;
}
.tourArchiveSearching {
	width: calc(100% - 262px);
	font-size: 0px;
	float: right;
}
.path-archives .borderflower {
	display: block;
}
.path-archives .borderflower .left {
	position: absolute;
	top: 39px;
	z-index: -1;
	left: 0;
}
.path-archives .borderflower .right {
	position: absolute;
	top: 25px;
	z-index: -1;
	right: 0;
}
.heading img, .heading h2 {
	display: inline-block;
	vertical-align: middle;
}
.heading .newsheading {
	font-family: 'modestow01-mediumtextregular';
	font-size: 40px;
	color: #010001;
	padding-left: 4px;
	margin: 9px 0 0 0;
}
.tourArchiveSearching, .tourArchiveSorting {
	font-family: "mr-eaves-modern", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.tourArchiveSorting .sortLabel {
	font-size: 15px;
	color: #00111D;
	display: inline-block;
	vertical-align: middle;
	padding-right: 11px;
}
.tourArchiveSorting .sortlist {
	display: none;
	position: absolute;
	top: 40px;
	right: 10px;
	background: #00101D;
	padding: 8px 0 4px;
	width: 158px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}
.tourArchiveSorting.open .sortlist {
	display: block;
}
.tourArchiveSorting  .sortlist a {
	display: block;
	padding-bottom: 5px;
	color: #F6F3F0;
	letter-spacing: 1px;
	font-weight: normal;
}
.tourArchiveSorting .selectedOrder {
	font-size: 15px;
	color: #F6F3F0;
	background: #00101D;
	display: inline-block;
	vertical-align: middle;
	height: 43px;
	width: 158px;
	border-radius: 4px;
	line-height: 43px;
	cursor: pointer;
	position: relative;
	letter-spacing: 1px;
	font-weight: normal;
}
.tourArchiveSorting.open .selectedOrder .fa-angle-up, .tourArchiveSorting .selectedOrder .fa-angle-down {
	display: block;
	position: absolute;
	top: 7px;
	right: 11px;
	font-size: 25px;
}
.tourArchiveSorting.open .selectedOrder .fa-angle-down, .tourArchiveSorting .selectedOrder .fa-angle-up {
	display: none;
}
.tourArchiveSearching .search_box, .tourArchiveSearching .searchGo {
	display: inline-block;
	vertical-align: top;
}

.tourArchiveSearching .searchGo {
	width: 73px;
	margin-left: 3px;
	font-size: 14px;
	color: #FFFEFD;
	height: 44px;
	line-height: 44px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	background: rgba(252,40,89,1);
	background: -moz-linear-gradient(left, rgba(252,40,89,1) 0%, rgba(255,41,66,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(252,40,89,1)), color-stop(100%, rgba(255,41,66,1)));
	background: -webkit-linear-gradient(left, rgba(252,40,89,1) 0%, rgba(255,41,66,1) 100%);
	background: -o-linear-gradient(left, rgba(252,40,89,1) 0%, rgba(255,41,66,1) 100%);
	background: -ms-linear-gradient(left, rgba(252,40,89,1) 0%, rgba(255,41,66,1) 100%);
	background: linear-gradient(to right, rgba(252,40,89,1) 0%, rgba(255,41,66,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc2859', endColorstr='#ff2942', GradientType=1 );
}
.tourArchiveSearching input.search_box {
	width: calc(100% - 78px);
	border: 0px;
	text-transform: uppercase;
	color: #FFFEFD;
	-webkit-text-fill-color: #FFFEFD;
	font-size: 15px;
	text-align: center;
	letter-spacing: 1px;
	height: 44px;
	line-height: 44px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	box-sizing: border-box;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	background: rgba(248,32,147,1);
	background: -moz-linear-gradient(left, rgba(248,32,147,1) 0%, rgba(255,41,66,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(248,32,147,1)), color-stop(100%, rgba(255,41,66,1)));
	background: -webkit-linear-gradient(left, rgba(248,32,147,1) 0%, rgba(255,41,66,1) 100%);
	background: -o-linear-gradient(left, rgba(248,32,147,1) 0%, rgba(255,41,66,1) 100%);
	background: -ms-linear-gradient(left, rgba(248,32,147,1) 0%, rgba(255,41,66,1) 100%);
	background: linear-gradient(to right, rgba(248,32,147,1) 0%, rgba(255,41,66,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f82093', endColorstr='#ff2942', GradientType=1 );
}
.tourArchiveSearching input::-webkit-input-placeholder {/* Chrome/Opera/Safari */
	color: #FFFEFD;
}
.tourArchiveSearching input::-moz-placeholder {/* Firefox 19+ */
	color: #FFFEFD;
}
.tourArchiveSearching input:-ms-input-placeholder {/* IE 10+ */
	color: #FFFEFD;
}
.tourArchiveSearching input:-moz-placeholder {/* Firefox 18- */
	color: #FFFEFD;
}
.tourArchiveSearching input:-webkit-autofill, .tourArchiveSearching input:-webkit-autofill:focus {
	-webkit-box-shadow: 0px 0px 0px 1000px #3f424c inset;
	background: rgba(248,32,147,1);
	background: -moz-linear-gradient(left, rgba(248,32,147,1) 0%, rgba(255,41,66,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(248,32,147,1)), color-stop(100%, rgba(255,41,66,1)));
	background: -webkit-linear-gradient(left, rgba(248,32,147,1) 0%, rgba(255,41,66,1) 100%);
	background: -o-linear-gradient(left, rgba(248,32,147,1) 0%, rgba(255,41,66,1) 100%);
	background: -ms-linear-gradient(left, rgba(248,32,147,1) 0%, rgba(255,41,66,1) 100%);
	background: linear-gradient(to right, rgba(248,32,147,1) 0%, rgba(255,41,66,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f82093', endColorstr='#ff2942', GradientType=1 );
	-webkit-text-fill-color: #FFFEFD;
}
.tourArchiveSearching .venueSearchErrorMsg {
	color: red;
}
.tourArchiveStylings {
	max-width: 800px;
	margin: 0px auto; 
	font-family: "mr-eaves-modern", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
}
.tourArchivePage.tourArchiveStylings{
	margin: 35px auto 0;
}
.tourArchiveStylings li {
	display: block;
	border: 1px solid #23272A;
	border-radius: 4px;
	margin: 0 0 9px 0;
	padding: 9px 9px 9px 13px;
	font-size: 0;
}
.tourArchiveStylings .item-list ul {
	margin: 0;
}
.tourArchiveStylings .views-field-nothing .tags.laminatetag span, .tourArchiveStylings .views-field-field-setlist span, .tourArchiveStylings .views-field-field-show-date-1, .tourArchiveStylings .views-field-field-venue, .tourArchiveStylings .views-field-field-setlist, .tourArchiveStylings .views-field-nothing, .tourArchiveStylings .views-field-view-node, .tourArchiveStylings .views-field-nothing .tags {
	display: inline-block;
	vertical-align: middle;
}
.tourArchiveStylings .views-field-field-setlist span.disabled {
	opacity: 0.6;
}
.tourArchiveStylings .views-field-field-show-date-1 .month_date, .tourArchiveStylings .views-field-field-show-date-1 .year {
	display: block;
}
.tourArchiveStylings .views-field-field-show-date-1 .month_date {
	font-size: 15px;
	color: #FF334c;
	text-transform: capitalize;
}
.tourArchiveStylings .views-field-field-show-date-1 .year {
	font-size: 24px;
	color: #01DEC7;
}
.tourArchiveStylings .views-field-field-show-date-1 {
	width: 64px;
}
.tourArchiveStylings .views-field-field-venue {	
	padding: 0 0 0 2px;
	width: 207px;
	margin-right: 10px;
}
.tourArchiveStylings .views-field-field-venue a{
	font-size: 21px;
	color: #FF334c;
}
.tourArchiveStylings .views-field-nothing .tags .laminateimg, .tourArchiveStylings .views-field-field-setlist span.setlistImage {
	width: 12px;
	padding-right: 9px;
}
.tourArchiveStylings .views-field-nothing .tags .archiveicons {
	padding-right: 9px;
	line-height: 1;
}
.tourArchiveStylings .views-field-field-setlist, .tourArchiveStylings .views-field-nothing .tags {
	padding-right: 22px
}
.tourArchiveStylings .views-field-field-setlist a, .tourArchiveStylings .views-field-nothing .tags a {
	font-size: 14px;
	color: #272727;
}
.tourArchiveStylings .views-field-view-node a {
	font-size: 13px;
	color: #FFFEFD;
	background: none #00111D;
	width: 97px;
	height: 41px;
	display: block;
	line-height: 41px;
	text-align: center;
	border-radius: 4px;
}
.view-footer a.viewAll {
	font-family: "mr-eaves-modern", sans-serif;
	text-transform: uppercase;
	color: #FFFEFD;
	font-size: 15px;
	font-weight: bold;
	background: none #00111D;
	display: block;
	text-align: center;
	width: 219px;
	height: 40px;
	margin: 44px auto 42px;
	line-height: 40px;
	border-radius: 4px;
	letter-spacing: 1px;
}
.view-empty{
	font-family: "mr-eaves-modern", sans-serif;
	text-transform: uppercase;
	color: #272727;
	font-size: 15px;
	font-weight: bold;	    
    margin: 35px auto 35px;
    max-width: 800px;
    border: 1px solid #23272A;
    border-radius: 4px;
    padding: 10px 0;
}
/*-------------------------------**/
.tourArchiveCategoryStylings{
    max-width: 800px;
    margin: 35px auto 0;
    text-align: left;
}
.tourArchiveCategoryStylings ul li{
    display: inline-block;
    vertical-align: top;
    width: 32%;
    margin: 0 1.4% 1.3% 0;
    box-sizing: border-box;
}
.tourArchiveCategoryStylings ul li:nth-child(3n){
	margin-right: 0;
}
.tourArchiveCategoryStylings ul li .col.row__item{
	font-size: 20px;
    border: 1px solid #6e6c6d;
    border-radius: 4px;
    padding: 8px;
    font-family: "mr-eaves-modern", sans-serif;
}
.tourArchiveCategoryStylings ul li a img{
	min-height: 270px;
}
.tourArchiveCategoryStylings ul li a .row__body__title{
	font-size: 15.35px;
    color: #00111d;
    margin: 0;
    text-align: center;
    min-height: 35px;
    padding-bottom: 10px;
    padding-top: 3px;
}
.tourArchiveCategoryStylings ul li .listItem_info{
	font-size: 0;
}
.tourArchiveCategoryStylings ul li .col.row__item .date_field,
.tourArchiveCategoryStylings ul li .col.row__item .share_comments{
	display: inline-block;
    vertical-align: top;
    width: 50%;
}
.tourArchiveCategoryStylings ul li .col.row__item .date{
	font-size: 16.44px;
    color: #ff2943;
}
.tourArchiveCategoryStylings ul li .col.row__item .dateYear{
    font-size: 23.02px;
    color: #00dec7;
    font-weight: 700;
}
.tourArchiveCategoryStylings ul li .col.row__item .share_comments{
	text-align: right;
    padding-top: 21px;
}
.tourArchiveCategoryStylings ul li .col.row__item .archiveShare{
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.tourArchiveCategoryStylings ul li .col.row__item .shareLabel {
    font-size: 15px;
    color: #110d08;
    background: url(http://staging.weate.ch.stage18.535e.blackmesh.com/wbr/dead.net/Assets/bg_share.png) no-repeat 0 transparent;
    padding-left: 20px;
    cursor: pointer;
}
.tourArchiveCategoryStylings ul li .col.row__item .archiveComments{
    display: inline-block;
    vertical-align: middle;
    margin-left: 9px;
}
.tourArchiveCategoryStylings ul li .col.row__item .archiveComments a.commentCount {
    font-size: 15px;
    color: #110d08;
    background: url(http://staging.weate.ch.stage18.535e.blackmesh.com/wbr/dead.net/Assets/bg_comments.png) no-repeat left 0 transparent;
    padding-left: 28px;
    cursor: pointer;
    padding-top: 2px;
    padding-bottom: 1px;
}
.tourArchiveCategoryStylings ul li .views-field-view-node{
	display: none;
}
.share {
    font-size: 0;
    text-align: center;
    line-height: 35px;
    position: absolute;
    top: 18px;
    right: -2px;
    width: 170px;
    height: 35px;
    background: none #fff;
    border: 1px solid #6e6c6d;
    border-radius: 4px;
    display: none;
}
.share .social_icons {
    font-size: 0;
    text-align: center;
    height: 35px;
    line-height: 35px;
    display: inline-block;
    margin: 0 8px;
    cursor: pointer;
}
.share .social_icons span {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    color: #ff2943;
    font-family: "mr-eaves-modern", sans-serif;
}
.share .social_icons span.sText {
    font-family: "mr-eaves-modern", sans-serif;
    color: #110d08;
    padding-left: 5px;
}
@media only screen and (max-width: 1250px) {
	.path-archives .borderflower .left, .path-archives .borderflower .right{
		width: 145px;
	}	
}
@media only screen and (max-width: 1000px) {	
	.heading .newsheading {
		font-size: 30px;
	}
	.tourArchiveStylings .views-field-nothing, .tourArchiveStylings .views-field-field-setlist, .tourArchiveStylings .views-field-nothing .tags, .heading img, .path-archives .borderflower {
		display: none;
	}
	.tourArchiveSearching {
		float: none;
		margin-bottom: 16px;
	}
	.tourArchiveSearching, .tourArchiveSorting {
		display: block;
		width: 100%;
		padding: 0 15px;
		box-sizing: border-box;
	}
	.tourArchiveSorting {
		width: 230px;
		margin: 0 auto;
		padding: 0;
	}
	.tourArchiveSorting .selectedOrder, .tourArchiveSorting .sortLabel, .tourArchiveSearching input.search_box {
		font-size: 12px;
	}
	.tourArchiveSorting.open .selectedOrder .fa-angle-up, .tourArchiveSorting .selectedOrder .fa-angle-down {
		top: 3px;
		font-size: 20px;
	}
	.tourArchiveSorting .selectedOrder {
		background: #0072C3;
		height: 26px;
		width: 170px;
		line-height: 26px;
	}
	.tourArchiveSorting .sortLabel {
		padding-right: 12px;
	}
	.tourArchiveSorting .sortlist {
		right: 1px;
		padding: 9px 0 4px;
		background: #0072C3;
		width: 170px;
		top: 19px;
	}
	.tourArchiveSearching input.search_box {
		width: calc(100% - 55px);
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		box-sizing:border-box;		
	}
	.tourArchiveSorting .sortlist a {
		font-size: 12px;
	}
	.tourArchiveSearching .searchGo {
		font-size: 14px;
		width: 52px;
	}	
	.tourArchiveSearchAndSort{	
		margin: 18px auto 16px;
	}	
	.tourArchiveStylings {
		margin: 0px 16px 0;
		max-width: none;
	}
	.tourArchivePage.tourArchiveStylings{
		margin: 18px 16px 0;
	}
	.tourArchiveStylings li {
		padding: 4px 0px 0px 13px;
		margin: 0 0 5px 0;
		font-size: 0;
		position: relative;
	}
	.tourArchiveStylings .views-field-field-show-date-1{
		/*width: 61px;*/
		/*width: 22%;*/
		width: 16%;
		margin-right: 2%;
	}
	.tourArchiveStylings .views-field-field-show-date-1 .year {
		font-size: 18px;		
	}
	.tourArchiveStylings .views-field-field-venue {
		font-size: 16px;
		/*width: 128px;*/
		/*width: 49%;*/
		width: 51%;
		margin-right: 2%;
		padding: 0;
	}
	.tourArchiveStylings .views-field-field-venue a{
		font-size: 15px;
		word-wrap: break-word;
	}
	.tourArchiveStylings .views-field-view-node {
		width: 29%;
		
		position: absolute;
	    top: 0;
	    right: 0;
	    height: 100%;
	    background: none #00111D;
	}
	.tourArchiveStylings .views-field-view-node a {
		font-size: 11px;
		width: 100%;
		border-radius: 4px;
		border-top-right-radius: 1px;
		border-bottom-right-radius: 1px;
		
		position: absolute;
	    top: 50%;
	    right: 0;
	    height: auto;
	    transform: translateY(-50%);
	}
	.view-footer a.viewAll {
		width: calc(100% - 32px);
		font-size: 12px;
		box-sizing: border-box;
		margin: 14px auto 26px;
	}
	.view-empty{
		margin: 35px 16px 35px;
	}
	.tourArchiveCategoryStylings{
		max-width: none;
    	margin: 18px 14px 0;
	}
	.tourArchiveCategoryStylings ul{
		padding: 0;
		margin: 0;
		    font-size: 0;
	}
	.tourArchiveCategoryStylings ul li {
	    width: 49%;
	    margin-right: 2%;
	    margin-bottom: 2%;
	}
	.tourArchiveCategoryStylings ul li:nth-child(3n){
		margin-right: 2%;
	}
	.tourArchiveCategoryStylings ul li:nth-child(2n){
		margin-right: 0;
	}
	.tourArchiveCategoryStylings ul li .col.row__item{
		padding: 0;
	}
	
	.tourArchiveCategoryStylings ul li a img{
		min-height: auto;
	    border-top-right-radius: 4px;
	    border-top-left-radius: 4px;
	    width: 100%;
	}
	.tourArchiveCategoryStylings ul li a .row__body__title{
		font-size: 13px;
    	padding-top: 0;
	}	
	.tourArchiveCategoryStylings ul li .col.row__item .date_field{
		display: block;
	    min-height: auto;
	    width: 90%;
	    margin: 0 auto 5px;
	}
	.tourArchiveCategoryStylings ul li .col.row__item .share_comments{
		display: block;
	    width: 90%;
	    margin: 0 auto 10px;
	    text-align: left;
	}
	.tourArchiveCategoryStylings ul li .col.row__item .date{
	    margin-right: 5px;
	}
	.tourArchiveCategoryStylings ul li .col.row__item .date,
	.tourArchiveCategoryStylings ul li .col.row__item .dateYear{
	    font-size: 14px;
	    display: inline-block;
	    vertical-align: middle;
	}
	.tourArchiveCategoryStylings ul li .col.row__item .share_comments{
	    display: block;
	    width: 90%;
	    margin: 0 auto 10px;
	    text-align: left;
	}
	.tourArchiveCategoryStylings ul li .col.row__item .archiveShare{
	    width: 50%;
	}
	.tourArchiveCategoryStylings ul li .col.row__item .shareLabel {
		font-size: 12px;
	    background-size: 26% auto;
	    padding-left: 13px;
	}
	.tourArchiveCategoryStylings ul li .col.row__item .archiveComments{
	    margin-left: 0;
	    width: 50%;
	    text-align: right;
	}
	.tourArchiveCategoryStylings ul li .col.row__item .archiveComments a.commentCount {
	    font-size: 12px;
	    background-size: 71% auto;
	    padding-left: 19px;
	    padding-top: 0;
	    padding-bottom: 0;
	    background-position: left 0;
	}	
	.share{
		right: auto;
	    left: 0;
	    width: 133px;
	    height: 28px;
	    line-height: 28px;        
	}
	.share .social_icons.fs-fb{
		margin-right: 5px;
	}
	.share .social_icons span{
		font-size: 12px;
	}
	.share .social_icons{
		height: 28px;
    	line-height: 28px;
	}
}
</style>