.site-name a {
  font-size: 3em;
  font-weight: bold;
  color: #fff;
}

.path-user .layout-content {
  display: block;
  width: 90%;
  margin: 0 auto;
}

.field--name-field-user-picture img {
    max-width: 200px;
    width: auto;
    height: auto;
}

article.profile > div {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    margin: 0;
    margin-bottom: 11px;
}

#main {
  min-height: 300px;
}

div.description {
  display: none;
}

#block-sitebranding img {
  width: 145px;
  height: auto;
}

#user-login-dialog label, #user-login-dialog .fieldset-legend, #user-register-form-dialog label, #user-register-form-dialog .fieldset-legend, #user-pass-dialog label, #user-pass-dialog .fieldset-legend, #user-login-form label, #user-login-form .fieldset-legend, #user-register-form label, #user-register-form .fieldset-legend, #user-pass label, #user-pass .fieldset-legend, #user-login--2-dialog label, #user-login--2-dialog .fieldset-legend {
  font-size: 16px;
  color: #1b214e;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 1px;
}

#user-login-dialog input, #user-login-dialog select, #user-register-form-dialog input, #user-register-form-dialog select, #user-pass-dialog input, #user-pass-dialog select, #user-login-form input, #user-login-form select, #user-register-form input, #user-register-form select, #user-pass input, #user-pass select, #user-login--2-dialog input, #user-login--2-dialog select {
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 35px;
  line-height: 1.2;
  font-size: 14px;
  padding: 0 10px;
  letter-spacing: 1px;
}
#user-register-form .field--name-field-birthdate select {
    width: calc( (100% - 9px) / 3 );
	width: -webkit-calc( (100% - 9px) / 3 );
    display: inline-block;
    vertical-align: middle;
}
#user-register-form  .form-type-checkbox{
	text-align: left;
}
#user-register-form  .form-type-checkbox > input, #user-register-form  .form-type-checkbox > label {
    display: inline-block;
    width: calc(100% - 25px);
    padding-left: 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
	font-size: 14px;
    line-height: 1;
    text-transform: none;
    vertical-align: middle;
}
#user-register-form  .form-type-checkbox > input{
	width: 20px;
	padding: 0;
}
#user-login-dialog #edit-submit, #user-register-form-dialog #edit-submit, #user-pass-dialog #edit-submit, #user-login-form #edit-submit, #user-register-form #edit-submit, #user-pass #edit-submit, #user-login--2-dialog #edit-submit, #user-pass-reset #edit-submit {
  height: auto;
  width: auto;
  font-size: 16px;
  line-height: 2;
  font-weight: 600;
}
#user-login-dialog #edit-submit:hover, #user-register-form-dialog #edit-submit:hover, #user-pass-dialog #edit-submit:hover, #user-login-form #edit-submit:hover, #user-register-form #edit-submit:hover, #user-pass #edit-submit:hover, #user-login--2-dialog #edit-submit:hover, #user-pass-reset #edit-submit:hover {
  background-color: #1b214e;
  color: #ffffff;
}

#user-login-dialog, #user-login-form, #user-register-form, #user-pass {
  max-width: 500px;
  display: inline-block;
  box-sizing: border-box;
}

.messages a, #user-login-dialog a, #user-register-form-dialog a, #user-pass-dialog a, #user-login-form a, #user-register-form a, #user-pass a, #user-login--2-dialog a {
  color: #359be9;
  text-decoration: underline;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 14px;
}
.messages a:hover, #user-login-dialog a:hover, #user-register-form-dialog a:hover, #user-pass-dialog a:hover, #user-login-form a:hover, #user-register-form a:hover, #user-pass a:hover, #user-login--2-dialog a:hover {
  text-decoration: none;
  color: #74c8e9;
}
.no-angular {
    display: none !important;
}
.messages {
  font-size: 15px;
  letter-spacing: 1px;
  background-position: 1% center;
}

#block-mainnavigation {
  float: right;
}
#block-mainnavigation .menu-item {
  padding-top: 23px;
}
#block-mainnavigation ul li {
  float: left;
  margin-right: 30px;
}
#block-mainnavigation ul li a {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2em;
}

.region-header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.region-content .node__submitted {
  margin: 10px;
}
.region-content .view-content .views-row {
  background-color: #f2f2f2;
  padding: 30px;
  margin-bottom: 30px;
}
.region-content .view-content .views-row:first-child {
  margin-top: 30px;
}

#user-login-dialog .user-fields {
  margin: 0 auto;
}
#user-login-dialog .user-fields .form-item, #user-login-dialog .user-fields .form-wrapper {
  float: left;
  min-height: 2em;
  width: 100%;
}
#user-login-dialog .user-fields .form-item .description, #user-login-dialog .user-fields .form-wrapper .description {
  margin-top: 1em;
}
#user-login-dialog .user-fields .form-item.form-type-select.form-item-field-birthdate-und-0-value-month, #user-login-dialog .user-fields .form-item.form-type-select.form-item-field-birthdate-und-0-value-day, #user-login-dialog .user-fields .form-item.form-type-select.form-item-field-birthdate-und-0-value-year {
  width: auto;
}
#user-login-dialog .user-fields .form-wrapper.form-type-select.form-item-field-birthdate-und-0-value-month, #user-login-dialog .user-fields .form-wrapper.form-type-select.form-item-field-birthdate-und-0-value-day, #user-login-dialog .user-fields .form-wrapper.form-type-select.form-item-field-birthdate-und-0-value-year {
  width: auto;
}
#user-login-dialog .user-fields .form-item .date-month, #user-login-dialog .user-fields .form-wrapper .date-month {
  width: 82%;
}
#user-login-dialog .user-fields #edit-actions-dialog {
  float: left;
  width: 100%;
}

#user-register-form-dialog .user-fields {
  margin: 0 auto;
}
#user-register-form-dialog .user-fields .form-item, #user-register-form-dialog .user-fields .form-wrapper {
  float: left;
  min-height: 2em;
  width: 100%;
}
#user-register-form-dialog .user-fields .form-item .description, #user-register-form-dialog .user-fields .form-wrapper .description {
  margin-top: 1em;
}
#user-register-form-dialog .user-fields .form-item.form-type-select.form-item-field-birthdate-und-0-value-month, #user-register-form-dialog .user-fields .form-item.form-type-select.form-item-field-birthdate-und-0-value-day, #user-register-form-dialog .user-fields .form-item.form-type-select.form-item-field-birthdate-und-0-value-year {
  width: auto;
}
#user-register-form-dialog .user-fields .form-wrapper.form-type-select.form-item-field-birthdate-und-0-value-month, #user-register-form-dialog .user-fields .form-wrapper.form-type-select.form-item-field-birthdate-und-0-value-day, #user-register-form-dialog .user-fields .form-wrapper.form-type-select.form-item-field-birthdate-und-0-value-year {
  width: auto;
}
#user-register-form-dialog .user-fields .form-item .date-month, #user-register-form-dialog .user-fields .form-wrapper .date-month {
  width: 82%;
}
#user-register-form-dialog .user-fields #edit-actions-dialog {
  float: left;
  width: 100%;
}

#user-pass-dialog .user-fields {
  margin: 0 auto;
}
#user-pass-dialog .user-fields .form-item, #user-pass-dialog .user-fields .form-wrapper {
  float: left;
  min-height: 2em;
  width: 100%;
}
#user-pass-dialog .user-fields .form-item .description, #user-pass-dialog .user-fields .form-wrapper .description {
  margin-top: 1em;
}
#user-pass-dialog .user-fields .form-item.form-type-select.form-item-field-birthdate-und-0-value-month, #user-pass-dialog .user-fields .form-item.form-type-select.form-item-field-birthdate-und-0-value-day, #user-pass-dialog .user-fields .form-item.form-type-select.form-item-field-birthdate-und-0-value-year {
  width: auto;
}
#user-pass-dialog .user-fields .form-wrapper.form-type-select.form-item-field-birthdate-und-0-value-month, #user-pass-dialog .user-fields .form-wrapper.form-type-select.form-item-field-birthdate-und-0-value-day, #user-pass-dialog .user-fields .form-wrapper.form-type-select.form-item-field-birthdate-und-0-value-year {
  width: auto;
}
#user-pass-dialog .user-fields .form-item .date-month, #user-pass-dialog .user-fields .form-wrapper .date-month {
  width: 82%;
}
#user-pass-dialog .user-fields #edit-actions-dialog {
  float: left;
  width: 100%;
}

#user-login-form .user-fields {
  margin: 0 auto;
}
#user-login-form .user-fields .form-item, #user-login-form .user-fields .form-wrapper {
  float: left;
  min-height: 2em;
  width: 100%;
}
#user-login-form .user-fields .form-item .description, #user-login-form .user-fields .form-wrapper .description {
  margin-top: 1em;
}
#user-login-form .user-fields .form-item.form-type-select.form-item-field-birthdate-und-0-value-month, #user-login-form .user-fields .form-item.form-type-select.form-item-field-birthdate-und-0-value-day, #user-login-form .user-fields .form-item.form-type-select.form-item-field-birthdate-und-0-value-year {
  width: auto;
}
#user-login-form .user-fields .form-wrapper.form-type-select.form-item-field-birthdate-und-0-value-month, #user-login-form .user-fields .form-wrapper.form-type-select.form-item-field-birthdate-und-0-value-day, #user-login-form .user-fields .form-wrapper.form-type-select.form-item-field-birthdate-und-0-value-year {
  width: auto;
}
#user-login-form .user-fields .form-item .date-month, #user-login-form .user-fields .form-wrapper .date-month {
  width: 82%;
}
#user-login-form .user-fields #edit-actions-dialog {
  float: left;
  width: 100%;
}

#user-register-form .user-fields {
  margin: 0 auto;
}
#user-register-form .user-fields .form-item, #user-register-form .user-fields .form-wrapper {
  float: left;
  min-height: 2em;
  width: 100%;
}
#user-register-form .user-fields .form-item .description, #user-register-form .user-fields .form-wrapper .description {
  margin-top: 1em;
}
#user-register-form .user-fields .form-item.form-type-select.form-item-field-birthdate-und-0-value-month, #user-register-form .user-fields .form-item.form-type-select.form-item-field-birthdate-und-0-value-day, #user-register-form .user-fields .form-item.form-type-select.form-item-field-birthdate-und-0-value-year {
  width: auto;
}
#user-register-form .user-fields .form-wrapper.form-type-select.form-item-field-birthdate-und-0-value-month, #user-register-form .user-fields .form-wrapper.form-type-select.form-item-field-birthdate-und-0-value-day, #user-register-form .user-fields .form-wrapper.form-type-select.form-item-field-birthdate-und-0-value-year {
  width: auto;
}
#user-register-form .user-fields .form-item .date-month, #user-register-form .user-fields .form-wrapper .date-month {
  width: 82%;
}
#user-register-form .user-fields #edit-actions-dialog {
  float: left;
  width: 100%;
}

#user-pass .user-fields {
  margin: 0 auto;
}
#user-pass .user-fields .form-item, #user-pass .user-fields .form-wrapper {
  float: left;
  min-height: 2em;
  width: 100%;
}
#user-pass .user-fields .form-item .description, #user-pass .user-fields .form-wrapper .description {
  margin-top: 1em;
}
#user-pass .user-fields .form-item.form-type-select.form-item-field-birthdate-und-0-value-month, #user-pass .user-fields .form-item.form-type-select.form-item-field-birthdate-und-0-value-day, #user-pass .user-fields .form-item.form-type-select.form-item-field-birthdate-und-0-value-year {
  width: auto;
}
#user-pass .user-fields .form-wrapper.form-type-select.form-item-field-birthdate-und-0-value-month, #user-pass .user-fields .form-wrapper.form-type-select.form-item-field-birthdate-und-0-value-day, #user-pass .user-fields .form-wrapper.form-type-select.form-item-field-birthdate-und-0-value-year {
  width: auto;
}
#user-pass .user-fields .form-item .date-month, #user-pass .user-fields .form-wrapper .date-month {
  width: 82%;
}
#user-pass .user-fields #edit-actions-dialog {
  float: left;
  width: 100%;
}

#user-login--2-dialog .user-fields {
  margin: 0 auto;
}
#user-login--2-dialog .user-fields .form-item, #user-login--2-dialog .user-fields .form-wrapper {
  float: left;
  min-height: 2em;
  width: 100%;
}
#user-login--2-dialog .user-fields .form-item .description, #user-login--2-dialog .user-fields .form-wrapper .description {
  margin-top: 1em;
}
#user-login--2-dialog .user-fields .form-item.form-type-select.form-item-field-birthdate-und-0-value-month, #user-login--2-dialog .user-fields .form-item.form-type-select.form-item-field-birthdate-und-0-value-day, #user-login--2-dialog .user-fields .form-item.form-type-select.form-item-field-birthdate-und-0-value-year {
  width: auto;
}
#user-login--2-dialog .user-fields .form-wrapper.form-type-select.form-item-field-birthdate-und-0-value-month, #user-login--2-dialog .user-fields .form-wrapper.form-type-select.form-item-field-birthdate-und-0-value-day, #user-login--2-dialog .user-fields .form-wrapper.form-type-select.form-item-field-birthdate-und-0-value-year {
  width: auto;
}
#user-login--2-dialog .user-fields .form-item .date-month, #user-login--2-dialog .user-fields .form-wrapper .date-month {
  width: 82%;
}
#user-login--2-dialog .user-fields #edit-actions-dialog {
  float: left;
  width: 100%;
}

#user-register-form-dialog select#edit-field-birthdate-und-0-value-year, #user-register-form-dialog select#edit-field-birthdate-und-0-value-day {
  padding-right: 2em;
}

#user-register-form select#edit-field-birthdate-und-0-value-year, #user-register-form select#edit-field-birthdate-und-0-value-day {
  padding-right: 2em;
}
#user-register-form fieldset {
  padding: 0;
  margin-top: 2em;
  border: 0;
}
#user-register-form fieldset .fieldset-legend {
  padding: 0;
}
#user-register-form #edit-field-country-und {
  clear: both;
}
#user-register-form #edit-field-birthdate-und-0-value {
  padding-left: 0;
  padding-right: 0;
}
#user-register-form #edit-field-birthdate-und-0-value .form-item-field-birthdate-und-0-value-month, #user-register-form #edit-field-birthdate-und-0-value .form-item-field-birthdate-und-0-value-day {
  margin-right: .8em;
}
#user-register-form #edit-field-country-und {
  width: 100%;
}

#user-login-form > div > div, #user-register-form > div > div {
  overflow: hidden;
  clear: both;
}

#user-login-form > div > div.form-item-pass .description, #user-register-form > div > div.form-item-pass .description {
  clear: both;
  padding-top: 1em;
}

#user-login-form .form-navigation-wrapper.form-control, #user-register-form .form-navigation-wrapper.form-control {
  margin-top: 0.5em;
  margin-left: 1.5em;
}

#user-login-form .form-navigation-wrapper.form-control a, #user-register-form .form-navigation-wrapper.form-control a {
  margin-left: 1em;
}

#user-pass-dialog .user-fields {
  width: 500px;
}

/*Unhide the Required Field Astrix - override*/
#user-login-dialog .user-fields label > span.form-required, .user-register-form-dialog .user-fields label > span.form-required {
  display: inline;
}

.user-login-dialog, .user-register-form-dialog, .user-pass-dialog {
  padding-bottom: 37px;
}

.user-login-dialog .ui-widget-header .ui-icon, .user-register-form-dialog .ui-widget-header .ui-icon, .user-pass-dialog .ui-widget-header .ui-icon {
  background: url("http://startersitev502.wmg-gardens.com/sites/g/files/g2000004816/f/201401/bg_closebtn.png") no-repeat 0 0 transparent;
  width: 16px;
  height: 16px;
  text-indent: -9999px;
  display: block;
}

.user-login-dialog .ui-widget-header .ui-icon:hover, .user-register-form-dialog .ui-widget-header .ui-icon:hover, .user-pass-dialog .ui-widget-header .ui-icon:hover {
  background-position: 0 -28px;
}

#user-register-form-dialog #edit-field-birthdate-dialog .form-item:nth-child(2):before, #user-register-form-dialog #edit-field-birthdate-dialog .form-item:nth-child(3):before {
  left: 0;
}
#user-register-form-dialog #edit-field-birthdate-dialog .form-item-field-birthdate-und-0-value-month {
  width: 35%;
}
#user-register-form-dialog #edit-field-birthdate-dialog .form-item-field-birthdate-und-0-value-month .date-month {
  width: 100%;
}
#user-register-form-dialog #edit-field-birthdate-dialog .form-item-field-birthdate-und-0-value-day {
  width: 30%;
}
#user-register-form-dialog #edit-field-birthdate-dialog .form-item-field-birthdate-und-0-value-day .date-day {
  width: 85%;
}
#user-register-form-dialog #edit-field-birthdate-dialog .form-item-field-birthdate-und-0-value-year {
  width: 30%;
}
#user-register-form-dialog #edit-field-birthdate-dialog .form-item-field-birthdate-und-0-value-year .date-year {
  width: 85%;
}

.user-register-form-dialog {
  top: 11.3% !important;
  top: calc(50% - 254px) !important;
}

.user-login-dialog {
  top: 26.3% !important;
  top: calc(50% - 156px) !important;
}

.user-pass-dialog {
  top: 33.5% !important;
  top: calc(50% - 109px) !important;
}

.description.mollom-privacy {
  display: none;
}

#user-register-form-dialog .tos-and-disclaimer {
  left: 0;
  width: 100%;
  color: #666666;
  font-size: 12px;
}
#user-register-form-dialog .form-item-field-yes-i-want-to-discover-mor-und label {
  line-height: 1;
  float: right;
  max-width: 95%;
  text-transform: none;
  border: none;
  margin-right: 0;
}
#user-register-form-dialog .user-fields #edit-actions-dialog .submit-button-wrapper {
  left: 0;
  width: 100%;
}
#user-register-form-dialog .user-fields #edit-actions-dialog .submit-button-wrapper .form-navigation-wrapper {
  display: block;
  float: none;
  margin: 0;
  text-align: center;
  padding-top: 10px;
}
.form-item-day,.form-item-month {
    display: inline-block;
    margin: 0;
    margin-right: 7px;
    width: 100px;
}

.form-item-day select, .form-item-month select {
    width: 100%;
    display: inline-block;
    line-height: 1;
}
