@import url("fonts/style.css");

app-social-buttons {
    display: inline-block;
}
app-mailing-list-block {
    background-color: #101011;
    display: block;
    padding: 20px;
}

.aniLoader {
  display: inline-block;
  width: auto;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 99;
}
.loader {
  border: 4px solid #ffffff;
  border-radius: 50%;
  border-top: 4px solid rgba(255,255,255,0.2);
  border-right: 4px solid rgba(255,255,255,0.2);
  border-bottom: 4px solid rgba(255,255,255,0.2);
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.backgroundLoader {
  display: inline-block;
  width: auto;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  z-index: 91;
  background-color: rgba(155,64,97,0.5);
}
.backgroundLoader .container {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    min-width: calc(120vw * 1.5);
    min-height: calc(120vw * 1.5);
    min-width: -weblit-calc(120vw * 1.5);
    min-height: -webkit-calc(120vw * 1.5);
    display: block;
    background-color: #FFF;
}
.css-gradients {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.css-gradients.amethysttoemerald {  
  background-size: 100%;
background: -moz-radial-gradient(center, ellipse cover,  rgba(254,206,97,1) 0%, rgba(155,64,97,0.47) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(254,206,97,1) 0%,rgba(155,64,97,0.47) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center,  rgba(254,206,97,1) 0%,rgba(155,64,97,0.47) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */


  -webkit-animation: rotate-neg-360 3s linear infinite, reverse-pulse-opacity 3s linear infinite;
  -moz-animation: rotate-neg-360 3s linear infinite, reverse-pulse-opacity 3s linear infinite;
  -o-animation: rotate-neg-360 3s linear infinite, reverse-pulse-opacity 3s linear infinite;
  animation: rotate-neg-360 3s linear infinite, reverse-pulse-opacity 3s linear infinite;
}
.css-gradients.sapphiretoemerald {  
	
  background-size: 100%;  

background: rgb(19,21,41); /* Old browsers */
background: -moz-linear-gradient(top left,  rgba(19,21,41,1) 0%, rgba(155,64,97,1) 50%, rgba(254,206,97,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top left,  rgba(19,21,41,1) 0%,rgba(155,64,97,1) 50%,rgba(254,206,97,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom right,  rgba(19,21,41,1) 0%,rgba(155,64,97,1) 50%,rgba(254,206,97,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */


  -webkit-animation: rotate-360 3s linear infinite, pulse-opacity 3s linear infinite;
  -moz-animation: rotate-360 3s linear infinite, pulse-opacity 3s linear infinite;
  -o-animation: rotate-360 3s linear infinite, pulse-opacity 3s linear infinite;
  animation: rotate-360 3s linear infinite, pulse-opacity 3s linear infinite;
}

@-webkit-keyframes pulse-opacity {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
  }
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
  }
}
@-moz-keyframes pulse-opacity {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
  }
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
  }
}
@-o-keyframes pulse-opacity {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
  }
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
  }
}
@keyframes pulse-opacity {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
  }
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
  }
}
@-webkit-keyframes reverse-pulse-opacity {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
  }
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
  }
}
@-moz-keyframes reverse-pulse-opacity {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
  }
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
  }
}
@-o-keyframes reverse-pulse-opacity {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
  }
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
  }
}
@keyframes reverse-pulse-opacity {
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
  }
  50% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
  }
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
  }
}
@-webkit-keyframes rotate-360 {
  from {
    -moz-transform-origin: center center 50%;
    -ms-transform-origin: center center 50%;
    -webkit-transform-origin: center center 50%;
    transform-origin: center center 50%;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform-origin: center center 50%;
    -ms-transform-origin: center center 50%;
    -webkit-transform-origin: center center 50%;
    transform-origin: center center 50%;
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes rotate-360 {
  from {
    -moz-transform-origin: center center 50%;
    -ms-transform-origin: center center 50%;
    -webkit-transform-origin: center center 50%;
    transform-origin: center center 50%;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform-origin: center center 50%;
    -ms-transform-origin: center center 50%;
    -webkit-transform-origin: center center 50%;
    transform-origin: center center 50%;
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes rotate-360 {
  from {
    -moz-transform-origin: center center 50%;
    -ms-transform-origin: center center 50%;
    -webkit-transform-origin: center center 50%;
    transform-origin: center center 50%;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform-origin: center center 50%;
    -ms-transform-origin: center center 50%;
    -webkit-transform-origin: center center 50%;
    transform-origin: center center 50%;
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-360 {
  from {
    -moz-transform-origin: center center 50%;
    -ms-transform-origin: center center 50%;
    -webkit-transform-origin: center center 50%;
    transform-origin: center center 50%;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform-origin: center center 50%;
    -ms-transform-origin: center center 50%;
    -webkit-transform-origin: center center 50%;
    transform-origin: center center 50%;
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate-neg-360 {
  from {
    -moz-transform-origin: center top 50%;
    -ms-transform-origin: center top 50%;
    -webkit-transform-origin: center top 50%;
    transform-origin: center top 50%;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform-origin: center top 50%;
    -ms-transform-origin: center top 50%;
    -webkit-transform-origin: center top 50%;
    transform-origin: center top 50%;
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@-moz-keyframes rotate-neg-360 {
  from {
    -moz-transform-origin: center top 50%;
    -ms-transform-origin: center top 50%;
    -webkit-transform-origin: center top 50%;
    transform-origin: center top 50%;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform-origin: center top 50%;
    -ms-transform-origin: center top 50%;
    -webkit-transform-origin: center top 50%;
    transform-origin: center top 50%;
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@-o-keyframes rotate-neg-360 {
  from {
    -moz-transform-origin: center top 50%;
    -ms-transform-origin: center top 50%;
    -webkit-transform-origin: center top 50%;
    transform-origin: center top 50%;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform-origin: center top 50%;
    -ms-transform-origin: center top 50%;
    -webkit-transform-origin: center top 50%;
    transform-origin: center top 50%;
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@keyframes rotate-neg-360 {
  from {
    -moz-transform-origin: center top 50%;
    -ms-transform-origin: center top 50%;
    -webkit-transform-origin: center top 50%;
    transform-origin: center top 50%;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform-origin: center top 50%;
    -ms-transform-origin: center top 50%;
    -webkit-transform-origin: center top 50%;
    transform-origin: center top 50%;
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@media all and (orientation: portrait) {
.backgroundLoader .container {    
    min-width: calc( 220vw * 2);
    min-height: calc( 220vw * 2);
    min-width: -webkit-calc( 220vw * 2);
    min-height: -webkit-calc( 220vw * 2);
}
}
/* Loader Style Ends */

/*Common Styles*/
html { width: 100vw;max-width: 100%; }
body > img {
    display: none;
}
body {
  font-family: texgy-regular, Arial, Helvetica, sans-serif;
  color:#ffffff;
  background-color: #000000;
  line-height: 1;
  box-sizing: border-box;
  padding: 50px 0 0;
  margin: 0;
}
a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: #fff568;
}
p {
    margin: 0;
    line-height: 1.2;
    letter-spacing: 1px;
}
img {
    width: 100%;
    height: auto;
}
/*reset library styles*/
.col {
  padding-right: 1rem;
  padding-left:1rem;
  margin-bottom: 1rem;
}

ul[class*=grid] {
    margin: 0 -1rem;
}
nav.g-layout {
  padding: 20px 0;
  text-align: center;
}
.detail-list .g-layout{
  position: relative;
  padding: 0;
}
.buttonWrapper.interiorPages {
  padding: 30px 0 60px 0;
}
.mailinglistPanel.internal .g-layout.internal h2{
    text-align: center;
}
/*Container Styles*/
/*
$mq-mobile-narrower: "only screen and (max-width : 320px)";
$mq-mobile-wider: "only screen and (min-width : 320px)";

$mq-tablet-narrower: "only screen and (max-width : 767px)";
$mq-tablet-wider: "only screen and (min-width : 768px)";

$mq-desktop-narrower: "only screen and (max-width : 1023px)";
$mq-desktop-wider: "only screen and (min-width : 1024px)";

$mq-large-desktop-narrower: "only screen and (max-width : 1379px)";
$mq-large-desktop-wider: "only screen and (min-width : 1380px)";

$mq-tablet: "only screen and (min-width : 768px) and (max-width : 1023px)";
$mq-mobile: "only screen and (min-width : 320px) and (max-width : 480px)";

*/

/*Block Stylings*/
.g-layout {
  width: 100%;
  padding: 20px;
  display: block;
  box-sizing: border-box;
}

.g-layout h2{
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    font-weight:300; 
}

.g-layout h2 span{
    font-weight:bold;    
}

@media (min-width: 768px) {
  .g-layout {
    width: 767px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
  }	
}
@media (min-width: 1024px) {
	.g-layout {
    width: 968px;
    margin: 0 auto;
  }
  .g-layout h2{
    padding-top: 50px;
    padding-bottom: 45px;
    margin: 0;
  }
  .heroBlock .button2 {
    font-size: 19px;
  }
}
@media (min-width: 1380px) {
	.g-layout {
    width: 1280px;
    margin: 0 auto;
  }
}

/*Elements in the block*/
.block h2 {
  text-align: center;
  font-size:30px; 
  padding-bottom: 30px; 
  text-transform: uppercase;
 }

 .mailinglistPanel {
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #000000;
}

.homePanelCon.mailinglistPanel h2, .internal.mailinglistPanel h2 {
    color: #f6f5fd;
    padding: 0 0;
    font-weight: bold;
    display: inline-block;
    letter-spacing: 1px;
    font-size: 22px;
}
.internal.mailinglistPanel .mailing-list-copy-outer {
    color: #f6f5fd;
    text-align: center;
    font-size: 17px;
    letter-spacing: 1px;
    padding: 0;
    margin-bottom: 6px;
    line-height: 1;
}
.internal.mailinglistPanel .g-layout{
    padding: 4% 0;
    width: 100%;
}
.internal.mailinglistPanel{
    padding: 0 19px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.block img { width: 100%; height: auto; }

.block h3 {text-transform: uppercase; line-height: 1.5}

.items li{
  display:inline-block;
  width: 33%;
  margin-left: -4px;
  box-sizing: border-box;
  vertical-align: top;
}

.button{
    position: relative;
    padding: 10px 20px 20px;
    font-size: 22px;
    font-family: ruby;
    transition: 0.3s linear;
}

a.button:after {
  content: "";
  position: absolute;
  display: inline-block;
  height: 2px;
  width: 100%;
  background-color: #fff568;
  left: 0;
  margin: 0 auto;
  transition: 0.3s linear;
  bottom:100%;  
}

a.button:hover:after{
    transition: 0.3s linear;
    bottom:0;
}

a.button:hover{
    transition: 0.3s linear;
}

body.show-SideDrawer ,body.show-photo-lightbox {
    overflow: hidden;
}
app-tour-block {
    padding-bottom: 30px;
}
app-news-block,app-video-block,app-photo-block,app-music,app-track-block,
app-news-detail,app-photos-detail,app-videos-detail,app-tour-block,app-block {display:block;}

app-lightbox {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
    background-color: rgba(4, 5, 8, 0.8);
}

.heroBlockCon {
    background: url(i/bg_hero.jpg) no-repeat;
    background-size: cover;
    min-height: 700px;
}
@media only screen and (max-width: 767px) {
  .heroBlockCon {
    min-height: 350px;
  }/*
  .mailinglistPanel h2 {
    letter-spacing: 9px;
    line-height: 1.3;
    max-width: 236px;
    margin: 4% auto 7%;
  }*/
  .mailinglistPanel h2 {
    padding: 0px;
  }
  .internal.mailinglistPanel h2 {
    padding: 0px;
  }
  .mailinglistPanel .g-layout {
    padding: 20px 20px 60px;
  }
}
.heroBlock h1{
  margin: 0;
  font-size: 68px;
  text-transform: uppercase;
  font-weight:300;  
  margin-bottom: 30px;
}
.heroBlock span {
    font-weight: bold;
}

app-photo-detail {
    background-color: #1d1e20;
}

app-home{
  color: #fff;
}

/* responsive video container */
.responsive-video-container,.iframeWrapper.Youtube,.iframeWrapper.Deezer {
  padding-bottom: 56.25%;
  position: relative;
}

.responsive-video-container object, 
.responsive-video-container iframe,.iframeWrapper.Youtube iframe,.iframeWrapper.Deezer iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: none;
}
.latest-video .responsive-video-container .media{
    padding-bottom: 56.25%;
    position: relative;
}

/* Footer Stuff */
.footer-block{
	background-color: #b8b7bf;
	font-size:14px;	
	text-align: center;
  padding: 43px 10px;
}
.footer-social li a{
  /**background: transparent url("i/footer-social.png") no-repeat scroll 0 0;**/
  clear: both;
  margin: 0 auto;
  width: 2.68em;
  height: 2.68em;
  color:#1b214e;
  display: block;
  margin: 0;
  text-indent: -9999px;
}
span.social-links {
    display: inline-block;
    width: auto;
}
.footer-social li {
  display: inline-block;
}

.footer-block .copyright-bar{
	margin-top: 35px;
	color: #ffffff;
	letter-spacing: 3px;
  font-size: 10px;
}
.footer-block .copy{
	margin-bottom: 18px;
}
.footer-block .footer-links a{
	color: #1b214e;
	white-space: nowrap;
}
/**
.footer-social li a.fs-fb-link {
  width: 0.875em;
}
.footer-social li.fs-ig a {
    background-position: -61px 0px;
}
.footer-social li.fs-tw a {
    background-position: -123px 0px;
}
.footer-social li.fs-sp a {
    background-position: -186px 0px;
}
.footer-social li.fs-pin a {
    background-position: -253px 0px;
}
.footer-social li.fs-yt a {
    background-position: -315px 0px;
}
.footer-social li.fs-vi a {
    background-position: -381px 0px;
}
**/
.footer-social .fs-fb a {
    background: transparent url(i/fb.svg) no-repeat scroll 0 0;
}
.footer-social .fs-fb a:hover {
    background: transparent url(i/fb-hover.svg) no-repeat scroll 0 0;
}
.footer-social .fs-ig a {
    background: transparent url(i/in.svg) no-repeat scroll 0 0;
}
.footer-social .fs-ig a:hover {
    background: transparent url(i/in-hover.svg) no-repeat scroll 0 0;
}
.footer-social .fs-tw a {
    background: transparent url(i/twitter.svg) no-repeat scroll 0 0;
}
.footer-social .fs-tw a:hover {
    background: transparent url(i/twitter-hover.svg) no-repeat scroll 0 0;
}
.footer-social .fs-sp a {
    background: transparent url(i/spotify.svg) no-repeat scroll 0 0;
}
.footer-social .fs-sp a:hover {
    background: transparent url(i/spotify-hover.svg) no-repeat scroll 0 0;
}
.footer-social .fs-pin a {
    background: transparent url(i/pinterest.svg) no-repeat scroll 0 0;
}
.footer-social .fs-pin a:hover {
    background: transparent url(i/pinterest-hover.svg) no-repeat scroll 0 0;
}
.footer-social .fs-yt a {
    background: transparent url(i/yt.svg) no-repeat scroll 0 0;
}
.footer-social .fs-yt a:hover {
    background: transparent url(i/yt-hover.svg) no-repeat scroll 0 0;
}
.footer-social .fs-vi a {
    background: transparent url(i/vimeo.svg) no-repeat scroll 0 0;
}
.footer-social .fs-vi a:hover {
    background: transparent url(i/vimeo-hover.svg) no-repeat scroll 0 0;
}
ul.footer-social li+li {
    margin-left: 20px;
}
carousel {
  display: block;
  height: auto;
  overflow: hidden;
  width: 100%;
  position: relative;
}
carousel li {			
  display: block;
  float: left;
  line-height: 0;
  margin: 0;
  padding: 0;
  width: calc(100% / 4);
  width: -webkit-calc(100% / 4);
}

carousel li img{
  width: 100%;
  height: auto;
}

a.cta {
    background-color: transparent;
    display: inline-block;
    border-radius: 3px;
    text-transform: uppercase;
    padding: 13px 55px;
    border: 1px solid #1b214e;
    line-height: 1;
    font-size: 19px;
    color: #1b214e;
    cursor: pointer;
    margin: 0 auto;
}
a.cta:hover{
  background-color: #1b214e;
  color: #fff;
}

div.cta{
    text-align: center;
}

@media only screen and (max-width: 768px) {
  #fixed-nav {
    background: url(/assets/images/nav-mobile.png) no-repeat;
    height: 48px;
    background-size: cover;
  }
  div.cta {
      text-align: center;
      margin-top: 20px;
      margin-bottom: 20px;
  }
}

@media only screen and (max-width: 435px) {
	.footer-block .footer-social .social-links{
		display: block;
		margin-bottom: 25px;
	}
	.footer-block .footer-social .social-pyv{
		display: block;
	}
}


.login-menu {
  display: none;
  font-size: 14px;
}
@media only screen and (min-width: 1024px) {
  .login-menu {
    position: absolute;
    top: 18px;
    right: 15px;
    display:block;
    z-index: 3;
  }
}
.fixed-nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #f6f5fd;
    z-index: 9;
}
/*.side_drawer::-webkit-scrollbar {
	background: transparent;
   	width: 0;
}*/

.breadcrumb li {
	color: #1b214e;
    display: inline-block;
    padding: 0 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    list-style: none;
    margin-right: 3px;
    line-height: 1;
}
.breadcrumb li a, .breadcrumb li span {
	color: #807c9c;
    font-weight: 300;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
}
.breadcrumb li span.arrow {
    vertical-align: middle;
    margin-right: 3px;
    display: inline-block;
    line-height: 13px;
    font-size: 22px;
    height: 16px;
}
.breadcrumb li.hide {
    display: none;
}
.breadcrumb li a:hover {
	color: #359be9
}
.breadcrumb li:last-child {
    border-right: none;
}

.g-layout.breadcrumb-layout {
    padding-bottom: 0;
}
.breadcrumb li:before{
  display: none;
}


ul.breadcrumb.news-detail li a{
    color: #807c9c;
    font-weight: 200;
    line-height: 1;
    letter-spacing: 1px;
    font-size: 13px;
    text-decoration: underline;
    font-family: "proxima-nova-condensed";
}
ul.breadcrumb.news-detail li span{
  font-size: 13px;
  display: inline-block;
  vertical-align: middle;
  color: #1b214e;
}
ul.breadcrumb.news-detail li {    
    padding-right: 0;
    line-height: 1;
}
.newsPanel, .tourPanel.tour-in, .merchPanel{
    background-image: url("images/background-repeat.jpg");
}
.videoPanel {
  background: url("i/bg_videos.jpg") no-repeat;
}
.musicPanel{
    background-image: url(images/Music-Bkg.jpg);
}
.footer-block {    
    background: url("images/footer-bg.jpg") no-repeat;
}
.contact-us-wrapper {
    background-image: url(images/background-repeat.jpg);
}
@media only screen and (min-width: 1024px) {  
  .fixed-nav{
    background-image: url("images/menu-bg.jpg");
  }
}
.thumbnail:hover:after {
    background: url(images/video-play.png) no-repeat 0 0 transparent;
}
.spotify div{
    background: url("i/spotify.png") no-repeat;    
}
.apple div{
    background: url("i/apple.png") no-repeat;
}
.youtube div{
    background: url("i/youtube.png") no-repeat;
}
.soundcloud div{
    background: url("i/soundcloud.png") no-repeat;
}
.service span.Apple {
    background: url("i/streaming-apple.png")no-repeat;    
}
.service span.Youtube {
    background: url("i/streaming-youtube.png")no-repeat;    
}
.service span.Soundcloud {
    background: url("i/streaming-soundcloud.png")no-repeat;   
}

.service span.Deezer{
    background: url("i/streaming-deezer.png")no-repeat;    
}
.service span.Spotify{
    background: url("i/streaming-spotify.png")no-repeat;
}
.hover-node span.main-title::before {
    background-image: url(i/instagram-image.png);    
}
a.preplay span.play {    
    background-image: url(i/video-play.png);
}
a.preplay span.play {
    background-image: url(i/video-play.png);
}
.hover-node span.main-title::before {
    background-image: url(i/instagram-image.png);
}
.side_drawer .Amazon{
    background: url("i/amazon-sd.png") no-repeat;
}
.side_drawer .iTunes{
    background: url("i/itunes-sd.png") no-repeat;
}

.side_drawer .stream .iTunes{
    background: url("i/itunes_stream-sd.png") no-repeat;
}

.side_drawer .Store{
    background: url("i/store-sd.png") no-repeat;
}

.side_drawer .Google.Play{
    background: url("i/google_play-sd.png") no-repeat;
}
.side_drawer .Spotify{
    background: url("i/spotify-sd.png") no-repeat;
}
.side_drawer .stream .Google.Play{
    background: url("i/google_play_stream-sd.png") no-repeat;
}
.side_drawer .Tidal{
    background: url("i/tidal-sd.png") no-repeat;
}
.carousel-nav .carousel-prev, .carousel-nav .carousel-next{    
    background-image: url(i/arrows.png);
}
.play a {
    background: url("i/track-play.png") no-repeat center center transparent;
}
.pause a {
    background: url("i/pause.png") no-repeat center center transparent;
}
.tour.tour-list-block input:not(:valid){
    background: url(i/searchbutton.png) no-repeat scroll 97% center;
}